body {
    margin: auto;
    background-color: #353E48;
} 

#rpcBtns {
    margin: 1em;
}


#text-snip {
    margin: 1em;
}

#main-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #483F35;
    width: 500px;
    height: auto;
    margin: auto;
    margin-top: 200px;
    border-radius: 10px;
}

.rpc-btn {
    background-color: #483635;
    border: 0px;
    height: 80px;
    width: 100px;
    border-radius: 5px;
}

.score {
    display: flex;
    justify-content: space-between;
}

#score-computer {
    margin-right: 10px;
}

#score-human {
    margin-right: 10px;
}